.container {
	display: flex;
	height: 100%;
}

.left-panel {
	flex: 1;
	overflow-y: auto;
	/* Enable vertical scrolling */
	padding: 20px;
	box-sizing: border-box;
	max-width: 60vw;
	width: 400px;
	max-height: 100%;
}

.right-panel {
	flex: 0 0 300px;
	/* Set a fixed width for the right panel */
	padding: 20px;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	min-width: 40vw;
	width: 600px;

	display: flex;
	flex-direction: column;
	align-content: center;
}

.stacked-form {
	display: flex;
	flex-direction: column;
	gap: 16px; /* Space between each input group */
	max-width: 400px;
}